<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @taxon.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_path %>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active"><%= @taxon.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% @taxonomies.each do |taxonomy| %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#taxon_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
                    <ul id="taxon_<%= taxonomy.id %>" class="collapse collapseItem">
                      <% taxonomy.root.leaves.each do |taxon| %>
                        <%= link_to potepan_category_path(taxon.id) do %>
                          <li>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <%= taxon.name %><span> (<%= taxon.products.count %>)</span></a>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render "color_panel" %>
        <%= render "size_panel" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_area" %>
        <%= render "product_box", products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render "light_section" %>
